<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="findAll" parameterType="co.kr.wdt.courseevaluationboard.vo.PageVo" resultType="co.kr.wdt.courseevaluationboard.vo.BoardVo">
		<![CDATA[
			 SELECT
				idx,
				mv_Idx,
				title,
				name,
				movieName,
				user_Idx,
				hit_Cnt,
				reg_Date
 		     FROM
 		     	board
 		     WHERE
 		        del_gb = 'N' 
 		 ]]>		    
 		 	<if test='movieName != null'>
 		     AND
 		     	movieName = #{movieName}
 		     </if>
 		  <![CDATA[ 
 		  	 ORDER BY reg_Date DESC  
			 LIMIT #{start} , #{end}
			 ]]> 		     	
		
	</select>
	
	<update id="updateMovieHit_Cnt" parameterType="String">
		<![CDATA[
			 UPDATE
				movie
 		     SET
 		     	hit_Cnt = hit_Cnt + 1
 		     WHERE
 		        mvName = #{movieName}
 		 ]]>		    
	</update>
	
	<select id="findAll_totalCount" resultType="_int" parameterType="paramMap">
		<![CDATA[
			 SELECT
				COUNT(*) AS totalCount
 		     FROM
 		     	board
 		     WHERE
 		        del_gb = 'N'
 		     AND
 		     	movieName = #{movieName}
		]]>
	 	<if test='movieName != null'>
 		     AND
 		     	movieName = #{movieName}
	     </if>
 	
	</select>
	
	<select id="findOne" resultType="co.kr.wdt.courseevaluationboard.vo.BoardVo">
		<![CDATA[
			 SELECT
				idx,
				mv_Idx,
				title,
				content,
				name,
				movieName,
				user_Idx,
				hit_Cnt,
				reg_Date
 		     FROM
 		     	board
 		     WHERE
 		        del_gb = 'N'
 		     AND
 		        idx = #{idx}
			 	     	
		]]>
	</select>
	
	<select id="search" parameterType="paramMap" resultType="co.kr.wdt.courseevaluationboard.vo.BoardVo">
		<![CDATA[
			 SELECT
				idx,
				mv_Idx,
				title,
				name,
				movieName,
				user_Idx,
				hit_Cnt,
				reg_Date
 		     FROM
 		     	board
 		     WHERE
 		        del_gb = 'N'
 		     AND
 		        title like #{searchText}
 		     OR
				content like #{searchText}
		]]>
		 	<if test='movieName != null'>
 		     AND
 		     	movieName = #{movieName}
 		     </if>
	  <![CDATA[   
			 LIMIT #{start} , #{end}
	 	]]> 
	</select>
	
	<select id="search_totalCount" parameterType="String" resultType="_int">
		<![CDATA[
			 SELECT
				COUNT(*) AS totalCount
 		     FROM
 		     	board
 		     WHERE
 		        del_gb = 'N'
 		     AND
 		        title like #{searchText}
 		     AND
				content like #{searchText}
		]]>
		 	<if test='movieName != null'>
 		     AND
 		     	movieName = #{movieName}
 		     </if>
	</select>
	
	<update id="updateHit_Cnt">
		<![CDATA[
			 UPDATE
				board
 		     SET
 		     	hit_Cnt = hit_Cnt + 1
 		     WHERE
 		     	idx = #{idx}
		]]>
	</update>

	<insert id="insert" parameterType="paramMap" >
		<![CDATA[
			INSERT INTO 
				board (
					mv_Idx,
					title,
					content,
					name,
					movieName,
					user_Idx
					)
			VALUES
				(#{boardVo.mv_Idx}, #{boardVo.title}, #{boardVo.content}, #{userVo.name}, #{boardVo.movieName}, #{userVo.user_Idx})
			
		]]>
	</insert>
	
	<update id="delete" parameterType="_int">
		<![CDATA[
			UPDATE
				board
			SET 
				del_gb = 'Y'
			WHERE
				idx = #{idx}
 		     	
		]]>
	</update>
	
	<update id="update" parameterType="co.kr.wdt.courseevaluationboard.vo.BoardVo">
		<![CDATA[
			UPDATE 
				board
			SET
				title = #{title},
				content = #{content}
			WHERE
				idx = #{idx}
		]]>
	</update>
	
</mapper>